{% extends "base.html" %}

{% block title %}Home - TrackMaster AI Face Detection{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light h-100">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="fas fa-search mr-2"></i>Image Scraper</h2>
                    <p class="card-text mb-4">Scrape images of celebrities for face detection.</p>
                    <a href="{{ url_for('image_scraper.image_scraper') }}" class="btn btn-primary btn-block">
                        <i class="fas fa-arrow-right mr-2"></i>Go to Image Scraper
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light h-100">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="fas fa-user-circle mr-2"></i>Face Detection</h2>
                    <p class="card-text mb-4">Detect and extract faces from the scraped images.</p>
                    <a href="{{ url_for('face_detection.face_detection') }}" class="btn btn-success btn-block">
                        <i class="fas fa-arrow-right mr-2"></i>Go to Face Detection
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light h-100">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="fas fa-brain mr-2"></i>Train the Model</h2>
                    <p class="card-text mb-4">Train models for face recognition and evaluate their performance.</p>
                    <a href="{{ url_for('model_training.train_model_page') }}" class="btn btn-warning btn-block">
                        <i class="fas fa-arrow-right mr-2"></i>Go to Model Training
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-dark text-light h-100">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4"><i class="fas fa-vial mr-2"></i>Test the Model</h2>
                    <p class="card-text mb-4">Upload an image to test the trained model.</p>
                    <a href="{{ url_for('model_testing.test_model_page') }}" class="btn btn-purple btn-block">
                        <i class="fas fa-arrow-right mr-2"></i>Test the Model
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}